div.header
  div.navbar
    div.navbar-header
      div.container
        ul.contact.pull-left
          li
            a(href='mailto:#{app.contact.email}?subject=#{app.contact.defaultSubject}' target='_top') 
              i.fa.fa-envelope-o
              =app.contact.email
          li
            i.fa.fa-mobile.fa-lg
            =app.contact.phone
        ul.social.pull-right
          for val in app.social
            li
              a(href='#{val.href}' target='_top')
                i.fa(class= val.faImage)
                div.color(style='background:#{val.color};')
    div.navbar-body
      div.collapse.navbar-collapse
        div.container
          a.navbar-brand(href='/')
              img.logo(src='images/script-icon-48.png')
              span.title
                =app.title
          ul.nav.navbar-nav.pull-right
            for val in app.menu
              li
                a(href='#{val.href}' target='_top')=val.name