extends layout

block content
  div.container
    div.row.section.animated.fadeInUp
      div.col-sm-12
        h1= app.title
        p= app.welcome
    div.row.section.animated.fadeInUp
      div.col-sm-12
        h1= title.text
        for val in news
          div.row.light-bg.article.animated.fadeInUp      
            div.col-sm-3.article-image
              if (val.image)
                img.img-thumbnail.center-block.img-responsive(src='#{val.image}')
            div.col-sm-9
              h2.sidelines
                span= val.heading
              h4.subHeading= val.date
              p!= val.content