doctype html
html
  head
    //- Meta details
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    title= app.title
    
    //- CSS
    if app.dev
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/font-awesome.css')
      link(rel='stylesheet', href='/css/animate.css')
    else
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/animate.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic.css')
    link(rel='stylesheet', href='/css/main.css' data-skrollr-stylesheet)
    
    //- Page CSS
    block css
    
  body
    <!-- Google Tag Manager -->
    noscript.
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5HT4JQ"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5HT4JQ');
    <!-- End Google Tag Manager -->
    //- Header
    include header
    //- Content
    div.content
      block content
    //- Footer
    include footer

    //- Scripts
    if app.dev
      script(src='/js/jquery.js')
      script(src='/js/bootstrap.js')
      script(src='/js/skrollr.stylesheets.js')
      script(src='/js/skrollr.js')
      script(src='/js/waypoints.js')
      script(src='/js/waypoints-sticky.js')
    else
      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/skrollr.stylesheets.min.js')
      script(src='/js/skrollr.min.js')
      script(src='/js/waypoints.min.js')
      script(src='/js/waypoints-sticky.min.js')
    script(src='/js/main.js')